# Ignorar o .env
.env

# Ignorar as pastas de build
/dist

# Ignorar arquivos gerados pelo sistema
node_modules/
.DS_Store

# Ignorar logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignorar IDEs
.idea/
.vscode/
